{% extends 'base.html.twig' %}

  {% block title %}Accueil{% endblock %} {#titre de l'onglet, si l'on veut afficher mes contact et acceuil on mettrai {{ parent() }}- Accueil #}

{% block body %}
<body>
  <h1 class= 'text-center pt-5 text-white'>Bienvenue sur mon application de gestion</h1>

  {# <ul>
 {% for leNom in lesNoms %}
  <li> {{leNom|upper }} </li>
 {% endfor %}
  {% if age > 18 %}
    Vous êtes majeur
    {% else %}
    Vous êtes mineur
  {% endif %}
  </ul> #}
</body>
{% endblock %}
