{% extends 'base.html.twig' %}

{% block title %}Fiche contact{% endblock %}

{% block body %}
<body>
    <h1 class='text-center pt-2 text-white'>Fiche contact</h1>

    <div class="row">
         {{ include('contact/_cardFicheContact.html.twig',{'mode':'ficheContact'})}}
    </div> 
</body>       
{% endblock %}
