{% extends 'base.html.twig' %}

{% block title %}Listes des catégories{% endblock %}

{% block body %}
<body>
    <h1 class='text-center pt-2 text-white'>Liste des catégories</h1>

    <div class="row">
        {% for laCategorie in lesCategories %}
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-3 mx-auto">
            <div class="card mb-3" style="width: 18rem;">{#mb-3#}
                <h4 class="card-title text-center">
                    {{laCategorie.libelle}} 
                </h4>
                <img style="display: block;" src="{{ asset(laCategorie.image)}}" class="imageCategories mx-auto my-3" alt="image categorie">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{laCategorie.description}}</li>
                </ul>
                <div class="card-body">
                    <a href="{{ path("ficheCategorie",{'id' : laCategorie.id})}}" class="btn btn-success btn-block text-center w-100">Détail ...</a>
                </div>
            </div>
        </div>       
        {% endfor %}
    </div>
</body>
{% endblock %}
